<h1>Endorsements for Bernie</h1>

<h2>Are you in?</h2>
<p>Endorse Bernie for President by clicking this button.</p>
<a href="https://twitter.com/share" class="twitter-share-button" data-text="I endorse @berniesanders for President." data-size="large">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

<h2>Most recent</h2>
<ul>
  <% @endorsements[:recent].each do |endorsement| %> 
    <li><%= raw(endorsement.oembed) %></li>
  <% end %>
</ul>

<h2>With most followers</h2>
<ul>
  <% @endorsements[:most_followers].each do |endorsement| %></li>
    <li><%= raw(endorsement.oembed) %></li>
  <% end %>
</ul>
